### Loading the saved model

In [9]:
import pandas as pd
from joblib import load

In [10]:
class CarPredictionModel():
    
    def __init__(self, model, features):
        self.model = model
        self.features = features

In [11]:
model_v1 = load("cars.pkl")

### Estimating the price of the new used-car for sale

In [18]:
car_dict = {'Year_2015': 1, 
            'Kilometers_Driven' : 55000, 
            'Fuel_Type_Petrol' : 1,
            'Transmission_Manual': 1, 
            'Owner_Type_First': 1, 
            'Seats' : 5,
            'make_maruti': 1,
            'mileage_new' : 16, 
            'engine_new': 1000,
            'power_new': 90
            }

In [19]:
my_car = {}
for key in model_v1.features:
    my_car[key] = 0

In [20]:
for key in car_dict:
    my_car[key] = car_dict[key]

In [23]:
df = pd.DataFrame(my_car, index = [0])

In [24]:
df

,Kilometers_Driven,Seats,mileage_new,engine_new,power_new,Year_1998,Year_1999,Year_2000,Year_2001,Year_2002,...,make_mini,make_mitsubishi,make_nissan,make_porsche,make_renault,make_skoda,make_tata,make_toyota,make_volkswagen,make_volvo
0,55000,5,16,1000,90,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
model_v1.model.predict(df)

array([6.64940515])