### Loading the saved model

In [1]:
import pandas as pd
from joblib import load
#from sklearn.externals import joblib for older apis
#from sklearn.externals import joblib
#model_v1 = joblib.load('./cars.pkl')

In [2]:
class CarPredictionModel():
    
    def __init__(self, model, features, rmse):
        self.model = model
        self.features = features
        self.rmse = rmse

In [3]:
model_v1 = load("cars.pkl")

In [4]:
type(model_v1)

__main__.CarPredictionModel

In [5]:
model_v1.model

LinearRegression()

In [6]:
model_v1.rmse

0.9877497605646017

In [7]:
model_v1.model.intercept_

1.4783586370934283

In [8]:
model_v1.features

['KM_Driven',
 'age',
 'Seats',
 'mileage_new',
 'engine_new',
 'power_new',
 'Fuel_Type_Diesel',
 'Fuel_Type_Petrol',
 'Transmission_Automatic',
 'Transmission_Manual',
 'Owner_Type_First',
 'Owner_Type_Fourth & Above',
 'Owner_Type_Second',
 'Owner_Type_Third',
 'make_ambassador',
 'make_chevrolet',
 'make_datsun',
 'make_fiat',
 'make_ford',
 'make_honda',
 'make_hyundai',
 'make_mahindra',
 'make_maruti',
 'make_mitsubishi',
 'make_nissan',
 'make_renault',
 'make_skoda',
 'make_tata',
 'make_toyota',
 'make_volkswagen',
 'Location_Ahmedabad',
 'Location_Bangalore',
 'Location_Chennai',
 'Location_Coimbatore',
 'Location_Delhi',
 'Location_Hyderabad',
 'Location_Jaipur',
 'Location_Kochi',
 'Location_Kolkata',
 'Location_Mumbai',
 'Location_Pune']

### Preparing the record for the new used-car for sale

In [9]:
car_dict = {
            'KM_Driven' : 5.5, 
            'Fuel_Type_Petrol' : 1,
            'Transmission_Manual': 1, 
            'Owner_Type_First': 1, 
            'Seats' : 5,
            'make_maruti': 1,
            'mileage_new' : 16, 
            'engine_new': 1000,
            'power_new': 90,
            'Location_Bangalore': 1
            }

In [10]:
my_car = {}
for key in model_v1.features:
    my_car[key] = 0

In [11]:
for key in car_dict:
    my_car[key] = car_dict[key]

In [12]:
my_car

{'KM_Driven': 5.5,
 'age': 0,
 'Seats': 5,
 'mileage_new': 16,
 'engine_new': 1000,
 'power_new': 90,
 'Fuel_Type_Diesel': 0,
 'Fuel_Type_Petrol': 1,
 'Transmission_Automatic': 0,
 'Transmission_Manual': 1,
 'Owner_Type_First': 1,
 'Owner_Type_Fourth & Above': 0,
 'Owner_Type_Second': 0,
 'Owner_Type_Third': 0,
 'make_ambassador': 0,
 'make_chevrolet': 0,
 'make_datsun': 0,
 'make_fiat': 0,
 'make_ford': 0,
 'make_honda': 0,
 'make_hyundai': 0,
 'make_mahindra': 0,
 'make_maruti': 1,
 'make_mitsubishi': 0,
 'make_nissan': 0,
 'make_renault': 0,
 'make_skoda': 0,
 'make_tata': 0,
 'make_toyota': 0,
 'make_volkswagen': 0,
 'Location_Ahmedabad': 0,
 'Location_Bangalore': 1,
 'Location_Chennai': 0,
 'Location_Coimbatore': 0,
 'Location_Delhi': 0,
 'Location_Hyderabad': 0,
 'Location_Jaipur': 0,
 'Location_Kochi': 0,
 'Location_Kolkata': 0,
 'Location_Mumbai': 0,
 'Location_Pune': 0}

In [13]:
df = pd.DataFrame(my_car, index = [0])

In [14]:
df

,KM_Driven,age,Seats,mileage_new,engine_new,power_new,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,...,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune
0,5.5,0,5,16,1000,90,0,1,0,1,...,1,0,0,0,0,0,0,0,0,0

In [15]:
df.shape

(1, 41)

### Predicting the price of the used car

In [16]:
model_v1.model.predict(df)

array([8.05300374])